.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    margin-bottom: 15%;
}

.card-text {
    text-align: right;
    font-weight: bold;
    color: black;
}

.card-footer {
    text-align: right;
}

.card-body{
    text-decoration: none;
    .card-title{
        color: black;
        
    }
}



