.main-heading {
    text-align: center;
    padding: 25px;
}

.weblink {
    text-decoration: none;
}

.btn-custom {
    background-color: #80cfb7 !important;
    color: white !important;
    align: center !important;
  }
